body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}

.title {
    margin: 0px 0 15px;
}

.plot-title {
    display: none;
    margin-bottom: 0;   
}

#num {
    width: 20px;
    font-size: 20px;
    vertical-align: top;
    color: white;
}

.right, .left {
    width: 48%;
    display: inline-block;
}

.right {
    vertical-align: top;
}

.legend {
    font-size: 18px;
    padding: 0 80px;
    display: none;
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.causes, .intersections {
    display: inline-block;
}

#map {
  height: 700px;
  width: 1200px;
  display: inline-block;
}

/* this all causes highlighting on the route between waypoints*/
/*path:hover {
    fill: red;
    fill-opacity: 0.5;
}*/

#data {
    border-radius: 10px;
    z-index: 401;
    background: rgba(0,0,0,.4);
    color: white;
    position: absolute;
    right: 30px;
    top: 30px;
    margin-top:100px;
    width: 300px;
    display: none;
    text-align: center;
}

.data-borough {
    font-size: 25px;
}

.data-title {
    font-size: 22px;
    padding-left: 10px;
}

#loading {
    width: 50px;
}

#loading-box {
    display: none;
    vertical-align: top;
    text-align: center;
}
