<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" /
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>

  <div id='map'></div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
  <script src="{{ url_for('static', filename='leaflet.js') }}" ></script>
  <script src="{{ url_for('static', filename='app.js') }}" ></script>
</body>

</html>
