<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-routing-machine.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Control.Geocoder.css') }}" />
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>

<body>
  <h1>Find safe biking routes in NYC</h1>
  <div id='map'>
      <div id="data"></div>
  </div>
  <span id="num">0</span>
  <div id="loading-box">
    <img id="loading" src="{{ url_for('static', filename='loader.gif') }}">
  </div>
  <h1 id="instr">Select your route to find ways to optimize it for safety. Intersections are highlighted based on danger.</h1>
  <div class="legend">
      <h2>Drag path to explore a safer route</h2>
      <h2>Route Statistics</h2>
  </div>
  <div class="left">
      <div class="intersections"></div>
      <div class="legend">
      <p>This radar plot shows the bicycle accident rate at the 5 most dangerous accidents along your route.
          If you hover over a highlighted intersection a number will appear in the top right corner of the map,
          cooresponding to the number on this rader plot. The axis is the collision rate (num. of collisions per million vehicles)
      </p>
      </div>
  </div>
  <div class="right">
      <div class="causes"></div>
      <div class="legend">
            <p>This radar plot shows the top causes of accidents along your route. The axis scale is the number of collisions in our data set
                that match the cause of incident
            </p>
      </div>
  </div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/radarChart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/leaflet.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/leaflet-routing-machine.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Control.Geocoder.js') }}"></script>


</body>

</html>
